<h3>Singers</h3>

<% if @singers.any? %>
  <% @singers.each do |singer| %>
    <ul>
      <li><%= link_to singer.name, singer_path(singer) %> </li>
    </ul>
  <% end %>
<% else %>
 <h4>There are no singers yet!</h4>
<% end %>

<%= link_to "New Singer", new_singer_path %>
